html {
  background: url(../img/1674766169_top-fon-com-p-bezhevii-fon-dlya-prezentatsii-po-literatu-200.jpg) no-repeat center center;
  min-height: 100%;
  background-size: cover;
}

h1 {
  color: rgb(0, 0, 0);
}

.zagolovok {
  color: rgb(182, 25, 25);
}