html {
  background: url(../fon.jpg) no-repeat center center;
  min-height: 100%;
  background-size: cover;
}

h1 {
  color: rgb(0, 0, 0);
}

.zagolovok {
  color: rgb(182, 25, 25);
}

.text-p {
  color: rgb(5, 39, 39);
}